<h3 class="text-center text-info">|Blog Example|</h3>

<div class="container col-md-6">
    <ul class="list-group">
        <% @posts.each do |post| %>
            <hr/>
            <div class="media">
                <img src="https://www.petbarn.com.au/petspot/app/uploads/2018/10/shutterstock_1260580581.jpg" alt="..." style="
                width: 200px;
                margin-right: 50px;
            " >
                <div class="media-body">
                    <h5 class="mt-0 text-info"><%= post.title %></h5>
                    <hr/>
                    <%= post.text %>
                </div>
            </div>
        <% end %>
    </ul>
</div>
