<div class="container">
    <h3 class="text-left text-info"><%= @post.title %></h3>
    <img class="uk-width-1-1" alt="" src="http://www.unread.today/webroot/files/3e01a5defe498d6a49d74ae6fd7d9124.jpg">
    <p><%= @post.text %></p>
</div>